<h1>contacts page</h1>

<p>get in touch with us</p>


<form action="/contacts" method="get">
  <input type="text" name="member2" placeholder="Who are you looking for?">
  <input type="submit">
</form>
