<p>this is the home</p>
<p>Now is <%= Time.now %></p>


<%= link_to "go to restaurants list", about_us_path %>

<%= link_to "GOHOME", homepage_path, class: "frank" %>
<%#= <a href="/about_us">go to restaurants list</a> %>
